name: Build & deploy Python Azure Functions (Y1)

on:
  push:
    branches: [ main ]
    paths:
      - 'azure_functions/**'
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'azure_functions'
  PYTHON_VERSION: '3.10'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install deps
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r ${AZURE_FUNCTIONAPP_PACKAGE_PATH}/requirements.txt

      - name: Zip Functions
        run: |
          cd ${AZURE_FUNCTIONAPP_PACKAGE_PATH}
          zip -qr ../azure_functions-release.zip .
          cd -

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: functions-app
          path: azure_functions-release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: functions-app

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: 'sparcollection-azfuncy1'      
          package: azure_functions-release.zip
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_FUNCTIONS_Y1 }}